body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
h1{
	text-align: left;
}
#boxes{
	display: inline-block;
}
.main{
	background-color:lightblue;
}
header{
	font-style: italic;
	font-weight: bold;
}
.top{
	background-color: rgb(29, 174, 222);
}
#image2{
	margin-left: 20%;
	height: 200px;
	width: 200%;
	float: right;
	border-radius: 50%;

}
.inline{
	display:inline-flexbox;
}
.colors2{
	font-size: 20px;
	margin-right: 10%;
	background-color: yellow;
	border-radius: 10%;
}
.places2{
	background-color: yellow;
	font-size: 20px;
	margin-right: 10%;
	border-radius: 10%;
}
.rituals2{
	background-color: yellow;
	font-size: 20px;
	margin-left: 22%;
	border-radius: 50%;
}
button:hover{
	font-size: 20px;
	color: yellow;
	background-color: black;
	border: none;
	transition: 1s;
}